<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container py-5">
  <div class="row" cdkDropListGroup>
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let taskGroup of taskGroups" cdkDropList [cdkDropListData]="taskGroup.tasks" (cdkDropListDropped)="onTaskDrop($event)"> <!-- Directive cdk, permet de faire la liaison entre les 3 listes -->
      <!-- cdkDropList permet de créer une zone uniquement pour une liste, afin de restreindre la zone --> <!-- La property binding [cdkDropListData] dans lequel je passe en paramètre taskGroup.tasks, donc ça veut dire que toutes les tâches appartiennent à un groupe de tache, cela permet de récupérer les données lors d'un drop --> <!-- cette directive là "(cdkDropListDropped)" qui est en event binding, lorqu'un évenement est droppé, la méthode onTaskDrop($event) qui prend en paramètre ($event) est déclenchée -->

      <div class="bg-light shadow rounded p-3">
        <h2 class="font-weight-normal text-center">{{ taskGroup.title }}</h2>
        <div class="bg-white shadow my-3 p-4" *ngFor="let task of taskGroup.tasks" cdkDrag>
          <h4 class="font-weight-normal">{{ task.title }}</h4>
          <p class="lead mb-0">{{ task.description }}</p>
        </div>
      </div>

    </div>
  </div>
</div>